html{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0px;
}
p{
    font-size: 19px;
    color: rgb(68, 68, 68);
}
h3{
    font-size: 32px;
}

.gris-body{
    background-color: rgba(212, 231, 255, 0.678);
    width: 100%;
    height: 100%;
}
.apartado{
    height: 800px;
}

.oval {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
}