.container{
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.row-align-items{

    height: 100%;
    width: 100%;
    max-width: 80%;
    columns: 2;
    margin: 0 auto;
}
.btn-ejemplos{
    background-color: rgb(0, 94, 218);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 190px;
    border-radius: 7%;
    font-size: 17px;
}
.btn-doc{
    background-color: rgb(212, 231, 255);
    color:rgb(0, 94, 218) ;
    border: none;
    padding: 15px;
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 190px;
    border-radius: 7%;
    margin-left: 10px;
    font-size: 17px;
    
}
.btn-div{
    padding-top: 15px;

}
.apartado1-header{
    max-width: 500px;
    padding-left: 70px;
    padding-top: 10px;
}

.apartado2-header{
}
